html { 
    font-size: 15px; 
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}

.container {
    display: flex;
    flex-direction: row;
    width: 55rem;
    height: 30rem;
    margin-top: 5rem;
    margin-left: 20rem;
}

.header {
    font-family: Big Shoulders Display;
    font-weight: 700; 
    font-size: 2rem;
    font: bold;
    text-align: left;
    margin: 2rem 2.5rem;
    color: hsl(0, 0%, 95%);
}

p {
    font-size: inherit;
    font-weight: 400;
    margin: 1rem 2.1rem 5rem 2.5rem;
    line-height: 1.7rem;
    font-family: Lexend Deca;
}

.sedan {
    --sedan-color: hsl(31, 77%, 52%);
    background-color: var(--sedan-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.SUV {
    --suv-color: hsl(184, 100%, 22%);
    background-color: var(--suv-color);
}

.luxury {
    --luxury-color: hsl(179, 100%, 13%);
    background-color: var(--luxury-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

svg {
    position: relative;
    top: 3.2rem;
    right: 0rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

#button {
    font-family: Lexend Deca;
    font-size: inherit;
    --button-background: hsl(0, 0%, 95%);
    background-color: var(--button-background);
    margin-bottom: 0;
    margin-left: 2.5rem;
    margin-top: 10rem;
    padding: 0.7rem 1.5rem;
    border: 0.25rem solid hsl(0, 0%, 95%);
    border-radius: 1.5rem;
}

.sedan > #button {
    color: var(--sedan-color);
}

.luxury > #button {
    color: var(--luxury-color);
}

.SUV > #button {
    color: var(--suv-color);
}

.sedan > #button:hover {
    background-color: inherit;
    color: var(--button-background);
}

.SUV > #button:hover {
    background-color: inherit;
    color: var(--button-background);
}

.luxury > #button:hover {
    background-color: inherit;
    color: var(--button-background);
}

.attribution {

    color: black;
}

@media screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        --height: 26rem;
        width: 20rem;
        margin: 0 1.5rem;
    }

    p {
        margin-right: 1.8rem;
        margin-bottom: 2rem;
    }

    .sedan {
        height: var(--height);
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
    }

    .SUV {
        height: var(--height);
        border-radius: 0;
    }

    .luxury {
        height: var(--height);
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }

    .attribution {
        margin-left: 3rem;
        color: black;
    }

    .attribution > p {
        margin-top: 2rem;
    }

    #button {
        padding: 0.5rem 1rem;
    }
}